<div class="container">
  <div class="panel panel-danger container-countries">
    <div class="panel-heading">
      <h3 class="panel-title">Add Country</h3>
    </div>
    <div class="panel-body">
       <% if @countries.present? %>
        <% @countries.each do |country| %>
          <%= link_to country.name, edit_country_path(country) %>
          <br/>
        <% end %>
      <% else %>
        No country yet
      <% end %>  

      <%= link_to 'Add a country', new_country_path %>

    </div>
  </div>
</div>